version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/admin"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/templates/astro-blog"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/backend"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
